<h1>Прохождение теста <%= @passed_test.test.title %></h1>

<p>
  Вопрос <%= @passed_test.current_question_number %> из <%= @passed_test.test.questions.count %>
</p>

<p>
  <b><%= @passed_test.current_question.body %></b>
</p>

<%= form_with url: passed_test_path(@passed_test), local: true, method: :put, id: "passed_test" do |form| %>
  <%= form.collection_check_boxes :answer_ids, @passed_test.current_question.answers, :id, :body, include_hidden: false do |b| %>
  <p>
    <%= b.check_box id: "answer_ids_#{b.object.id}" %>
    <%= b.label %>
  </p>
  <% end %>

  <div class="progress">
  <%= tag.div class: "progress-bar",
              data: { current: @passed_test.current_question_number,
                      count: @passed_test.test.questions.count } %>
  </div>

  <p><%= link_to 'Gist', gists_path(:id => @passed_test.id), method: :post %></p>
  <p><%= form.submit 'Следующий вопрос', id: "next"%></p>

  <% unless @passed_test.test.timer.nil? %>
    <%= tag.div current_timer(@passed_test.left_time), data: { second: @passed_test.left_time }, id: "js-timer", class: "timer" %>
  <% end %>
<% end %>
