<%= form_with model: @user, local: true do |form| %>
  <%= render 'shared/errors', resourse: @user %>

  <p>
    <%= form.label :name, 'Имя:' %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :email, 'Почта:' %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :password, 'Пароль:' %><br>
    <%= form.password_field :password %>
  </p>

  <p>
    <%= form.label :password_confirmation, 'Подтвердите пароль:' %><br>
    <%= form.password_field :password_confirmation %>
  </p>

  <p><%= form.submit %></p>
<% end %>
