<tr>
  <td align="align-middle">
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td align="align-middle"><%= test.level %></td>
  <td align="align-middle"><%= test.questions.count %></td>
  <td align="align-middle"><%= link_to 'Посмотреть', admin_test_path(test) %></td>
  <td align="align-middle"><%= link_to 'Изменить',
                                        edit_admin_test_path(test),
                                        data: { test_id: test.id },
                                        class: 'form-inline-link' %>
  </td>
  <td align="align-middle"><%= link_to 'Удалить',
                  admin_test_path(test),
                  method: :delete,
                  data: { confirm: 'Вы уверены?'} %>
  </td>
</tr>
